h1{font-weight:900; font-family:monospace;}
a:hover { text-decoration:underline; font-weight:bold;}
footer{font-style:italic;}
a:link {color: blue;}
a:visited{color:red;}
a:active{text-decoration:none;}
table{text-align:center}